
.main_prd {
     /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, max-content));
    grid-gap: 41px;
    justify-content: center;
    padding: initial;
    width: 100vw;
    
}

.prd_item_container {
    list-style-type: none;
    border: 1px solid gray;
    padding: 5px;
    width: 210px;
    display: flex;
    justify-content: center;
    
    
}

.profile-img {
    width:200px;
    height:200px;
    object-fit:fill;
    
}
.pgntContainer {
    
    width: 100vw;
    position: relative;
    bottom: 10;
}
.pgnt {
    
    height: 40px;
    margin-top: 40px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    
    
}