

.container {
    display: flex;
    justify-content: center;
    background-color: #667;
}

.img-name-container {
    
    flex-direction: column;
    
    background-color: blue;
}

.top-blank-box {
    height: 25vh;
    background-color:cadetblue
}

.middle-blank-box {
    height: 25vh;
    background-color:coral;

}

.img-avatar {
    margin-top: 10vh;
    position: absolute;
}

.btm-box-info-container {
    
    width: 100%;
}

.bottom-box-container {
    
    
}

.bottom-box {
    justify-content: flex-end;
    display: flex;
    margin-right: 15px;
}

.name-role-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: khaki;
}

.specified-info-container {
    display: flex;
    background-color: lightgray;
}

.info-icon {
    background-color: limegreen;
}



.info-text-me {
    background-color: lightpink;
}

.info-text-category {
    background-color: lightskyblue;
}
.sns_conatiner{
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.sns_box {
    background-color: #fff;
    margin: 5px;
    width: 85%;
    height: 9vh;
    border-radius: 17px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.sns_textContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: khaki;
    width: 60%;
    align-items: center;
}
.sns_logo {
    background-color: blueviolet;
    width: 17%;
    height: 75%;
    justify-content: center;
    align-items: center;
}
.sns_status {
    margin-inline: 17px;
}
.sns_connect {
    margin-inline: 17px;
}
.sns_connect {
    margin-inline: 17px;
}




.information-container{
    width: 100%;
}
.info-row-cntainer{
    flex-direction: row;
    display: flex;
    margin-block: 30px;
    
}
.line-items{
    margin-inline: 3vw;
    background-color: aqua;
    width: 17vw;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 3px;
}
.section-name{
    font-size: 20px;
    font-weight: bold;
    
}
.section-value{
    font-size: 17px;
}



@media screen and (max-width: 900px) {

  }