.main_inf {
    /* display: flex; */
   /* flex-wrap: wrap; */
   /* flex-direction: row; */
   
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
   grid-gap: 41px;
   justify-content: center;
   padding: initial;
   width: 100vw;
   
}