.main_inf {
    /* display: flex; */
   /* flex-wrap: wrap; */
   /* flex-direction: row; */
   
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
   grid-gap: 41px;
   justify-content: center;
   padding: initial;
   width: 100vw;
   margin-top: 30px;
   
}

.searchResultCard{
    border: 1px solid #000;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 200px;
    
}
.profile-img{
    border-radius: 30px;
}

.searchResultCardNickname{
    font-weight: bold;
    font-size: 20px;
    padding: 3px;
}