.headerSet{
    background-color:#fff; 
    z-index:100; 
    justify-content: center;
    align-items: center;
    display: flex;
}

.headerContainerSet{
    justify-content:space-between;
    display:flex;
    height:8vh;
    align-items:center;
    padding-inline:15px;
    margin-top:-11px;
    border: 3px solid #193c46;
    border-radius:21px;
}

#logoStyle{
    color:#193c46;
    margin-inline: 10;
    font-size: 29px; 
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s;
}
#logoStyle:hover {
    font-weight: 750;
    
}

#eachBtnStyleContained{
    background-color: #193c46;
    color: #fff;
    margin-inline: 9px;
    height: 100%;
    padding-inline: 10px;
    font-weight: bold;
    font-size: 21px;
    border-radius: 10px;
    transition: all 0.5s;
}
#eachBtnStyleContained:hover{
    border-color: #000;
    background-color: red;
}

#eachBtnStyleOutlined{
    background-color: #fff;
    color: #193c46;
    margin-inline: 9px;
    height: 100%;
    font-weight: bold;
    font-size: 19px;
    padding-inline: 10px;
    border-color: grey;
    border-radius: 10px;
    transition: all 0.5s;

}
#eachBtnStyleOutlined:hover{
    border-color: #000;
    background-color: red;
}

.nav-btn-container {
    height: 100%;
    display: flex;
    align-items: center;
  }

.nav-menu {
    display: flex;
    margin-top: 15px;
    list-style: none;
  }

.nav-item {
    border-bottom: 2px solid transparent;
    font-size: 16pt;
    font-weight: bold;
  }

.nav-item-each {
    
    display: flex;
    align-items: center;
    
}

@media screen and (max-width: 500px) {
    .NavbarItems {
      position: relative;
      
    }
}  