.signup-container{
    display: flex;
    justify-content: center;
}
.form-container {
    width: 85vw;
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    
}
.basic-input-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    background-color: khaki;
    margin: 9px;
}
.additional-input-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    background-color: lightblue;
    margin: 9px;
}
.mb-3 {
    margin: 10px;
}